#quotes img {
    width:  25px !important;
    height: 25px !important;
}
.outer-ctn{
    width: 1100px;
    max-height: 900px;
}
.inner-ctn{
    width:350px;
    height: 350px;
    display: flex!;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    box-shadow:   2px 2px 5px 5px grey;
    margin: 15px;
    }
.avi-ctn img{
    border-radius: 100%;
    margin: 5px auto;

}
.quotes img {
    width:  25px !important;
    height: 25px !important;
}